<div id="<%= dom_id message %>" class="scaffold_record">
  <%= simple_format(message.body) %>

  <% if current_user.voted_up_on? message %>
    Unvote!
  <% else %>
    UP
  <% end %>


  <%= button_to 'Upvote', [:upvote, @inbox, message], method: :patch %>

  <div id="message_score">
    Total: <%= message.cached_votes_total %>
  </div>
  
  <br>
  <i>
    by
    <%= message.user.email %>
    on
    <%= message.created_at.strftime('%d/%b/%Y %H:%M') %>
  </i>

  <%= button_to "Destroy", inbox_message_path(@inbox, message), method: :delete %>

</div>
